.Navbar{
    width: full;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-side{
    display: flex;
    gap: 15px;
    align-items: center;

}

img{
    width: 40px;
    margin-top:-5px
   
}

p{
    font-size: 30px;
    font-weight: bold;
}
button{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    
}

@media (max-width: 768px) {
    button{
        height: 30px;
        width: 150px;
    }
    p{
        font-size: 20px;
        font-weight: bold;
    }
}